.footer {
    &__container{
        margin-top: 103px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 54px;
        padding-bottom: 54px;
        background: var(--services-bg);
        @include tablet {
            flex-direction: column-reverse;
            gap: 34px;
            margin-top: 64px;
        }
        @include mobile {
            padding: 34px;
            margin-top: 45px;
        }
    }

    &__copyright {
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        color: var(--c-text-white);
    }

    span:last-child {
        color: var(--c-primary);
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 34px;
        @include mobile {
            flex-direction: column;
        }
    }
}